<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tanlifei.app">

    <application
        android:name="com.tanlifei.app.BaseApplication"
        android:allowBackup="true"
        android:icon="${APP_ICON}"
        android:label="@string/app_name"
        android:maxAspectRatio="2.4"
        android:networkSecurityConfig="@xml/network_security_config"
        android:resizeableActivity="true"
        android:roundIcon="${APP_ICON}"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label,networkSecurityConfig">
        <activity
            android:name=".SplashActivity"
            android:enabled="true"
            android:theme="@style/SplashActivityThemes">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.desay_svautomotive.ACTION_CAR_SETTINGS_WIDGET_STATUS_SWITCH" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--—————————————————————————————————————————————————— 切换环境更改app图标 ——————————————————————————————————————-->

        <!--    AndroidManifest.xml文件中添加过activity-alias标签之后，下一版本不能删除，可能会导致应用升级异常：
            以工程中的activity（MainActivity），activity-alias（activity618、activity1225）为例，
            且在升级包中删除了activity-alias（activity1225），则会有以下两种情况：
            情况一：已安装应用的enable activity非activity1225，为MainActivity或activity618，则能正常升级；
            情况二：已安装应用的enable activity为activity1225，升级完成后桌面上将找不到该应用，通过设置界面可以搜索到该应用的应用信息。
            结论：一旦在AndroidManifest.xml文件中定义过activity-alias，建议不要删除。-->
        <activity-alias
            android:name="environment_dev"
            android:enabled="false"
            android:icon="@mipmap/ic_launcher_dev"
            android:roundIcon="@mipmap/ic_launcher_dev"
            android:targetActivity=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name="environment_test"
            android:enabled="false"
            android:icon="@mipmap/ic_launcher_test"
            android:roundIcon="@mipmap/ic_launcher_test"
            android:targetActivity=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name="environment_pro"
            android:enabled="false"
            android:icon="@mipmap/ic_launcher_pro"
            android:roundIcon="@mipmap/ic_launcher_pro"
            android:targetActivity=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <!--—————————————————————————————————————————————————— Main ——————————————————————————————————————————————————-->
        <activity
            android:name="com.tanlifei.app.main.ui.GuideActivity"
            android:label="引导页" />
        <activity
            android:name="com.tanlifei.app.main.ui.AdsActivity"
            android:label="广告页" />
        <activity
            android:name="com.tanlifei.app.home.ui.activity.HomeActivity"
            android:label="首页" />
        <activity
            android:name="com.tanlifei.app.main.ui.LoginAtivity"
            android:label="登录" />

        <!--—————————————————————————————————————————————————— 我的 ——————————————————————————————————————————————————-->
        <activity
            android:name=".persenal.activity.SettingActivity"
            android:label="个人设置" />

        <activity
            android:name=".persenal.activity.AboutActivity"
            android:label="关于网上老年大学" />
        <activity
            android:name=".persenal.activity.ManualActivity"
            android:label="操作手册" />

        <!--—————————————————————————————————————————————————— 今日头条全适配 —————————————————————————————————————————-->
        <meta-data
            android:name="design_width_in_px"
            android:value="1080" />
        <meta-data
            android:name="design_height_in_px"
            android:value="1920" />

        <!--—————————————————————————————————————————————————— 全面屏与刘海适配 —————————————————————————————————————————-->
        <!--        全面屏与刘海适配 在manifest加入如下配置，四选其一，或者都写-->
        <!--        ① 在manifest的Application节点下加入-->
        <!--        ② 在manifest的Application节点中加入   android:resizeableActivity="true"-->
        <!--        ③ 在manifest的Application节点中加入   android:maxAspectRatio="2.4"-->
        <!--        ④ 升级targetSdkVersion为25以上版本-->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />
        <!--适配华为（huawei）刘海屏-->
        <meta-data
            android:name="android.notch_support"
            android:value="true" />
        <!--适配小米（xiaomi）刘海屏-->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />

        <meta-data
            android:name="CHANNEL"
            android:value="${CHANNEL_VALUE}" />

        <!--—————————————————————————————————————————————————— bugly环境适配 —————————————————————————————————————————-->

        <!-- 配置APP版本号 -->
        <meta-data
            android:name="BUGLY_APPID"
            android:value="${BUGLY_APPID}" />
        <!-- 配置版本号 -->
        <meta-data
            android:name="BUGLY_APP_VERSION"
            android:value="${VERSION_NAME}" />
        <!-- 配置APP渠道号 -->
        <meta-data
            android:name="BUGLY_APP_CHANNEL"
            android:value="${CHANNEL_VALUE}" />
    </application>

</manifest>